.clickable {
    cursor: pointer;
}

.occupied, .hit {
    background-color: #83b983;
}

.unavailable {
    background-color: #ecdcdc;
}

.inactive {
    background-color: #c4c4c4;
}

.hit, .fired, .burried {
    line-height: 30px;
    text-align: center;
}

.burried {
    background-color: #b83939;
}
