.battle-field-container {
    display: grid;
    box-sizing: border-box;
    grid-gap: 1px;
}

.battle-field-container div {
    height: 30px;
    width: 30px;
    border: 1px solid gray;
    border-collapse: collapse;
}

.battle-field-container div.numeric-label, .battle-field-container div.char-label {
    background-color: gray;
    color: white;
    padding: 2px;
}

.battle-field-container div.numeric-label {
    text-align: right;
}

.battle-field-container div.clickable {
    cursor: pointer;
}

.battle-field-container div.is-occupied {
    background-color: #83b983;
}

.battle-field-container div.is-not-available {
    background-color: #e26f6f;
}