button {
    background-color: #b5e0c3;
    border-radius: 8px;
    border: 1px solid #B7C0C3;
    color: #474B24;
    cursor: pointer;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
}

button[disabled] {
    background-color: #e3e3e3;
    color: #a4a4a4;
    cursor: default;
}
